<!--
# Version:      0.3.0
# Modelo:       Transaccion
# Editor:       Manuel Jesus Flores Montano (@manueljesus00) and Pedro Jesus Lazaro Diaz (@VitalSum)
# Fecha rev:    05/12/2022
-->
<odoo>
  <data>
    <!-- Top menu item -->
    <menuitem name="upobebe" id="main_upobebe_menu" groups="group_tienda_manager"/>

    <!-- menu categories -->
    <menuitem id="upobebe_cliente_menu" name="Gestión de clientes" parent="main_upobebe_menu"/>

    <menuitem id="upobebe_transaccion_menu" name="Gestión de transacciones" parent="main_upobebe_menu"/>

    <menuitem id="upobebe_items_menu" name="Gestión de items" parent="main_upobebe_menu"/>

    <menuitem id="upobebe_empleado_menu" name="Gestión de empleados" parent="main_upobebe_menu"/>

    <!-- actions -->
    <!-- Seguir formato de ID upobebe_NameModel_menu_action_nameAction -->
    <menuitem name="Clientes" id="clientes_menu" parent="upobebe_cliente_menu" groups="group_tienda_manager" action="cliente_list_action"/>
    <menuitem name="Suscripciones" id="suscripciones_menu" parent="upobebe_cliente_menu" groups="group_tienda_manager" action="suscripcion_list_action"/>

    <menuitem name="Transacción" id="transacciones_menu" parent="upobebe_transaccion_menu" groups="group_tienda_manager" action="transacciones_list_action"/>
    <menuitem name="Tipo de Transaccion" id="tipotransaccion_menu" parent="upobebe_transaccion_menu" groups="group_tienda_manager" action="tipotransaccion_list_action"/>
    <!-- <menuitem name="Financiacion" id="financiacion_menu" parent="upobebe_transaccion_menu" groups="group_tienda_manager" action="financiacion_list_action"/>--><!-- No es necesario, ya que se puede hacer desde transaccion -->

    <menuitem name="Articulo" id="articulos_menu" parent="upobebe_items_menu" groups="group_tienda_manager" action="articulo_list_action"/>
    <menuitem name="Estados de Articulos" id="estado_articulo_menu" parent="upobebe_items_menu" groups="group_tienda_manager" action="estadoarticulo_list_action"/>
    <menuitem name="Categorias" id="categorias_menu" parent="upobebe_items_menu" groups="group_tienda_manager" action="categoria_list_action"/>
    <menuitem name="Productos" id="productos_menu" parent="upobebe_items_menu" groups="group_tienda_manager" action="producto_list_action"/>
    <!-- <menuitem name="Almacenes" id="almacen_menu" parent="upobebe_items_menu_menu" groups="group_tienda_manager" action="almacen_list_action"/> --> <!-- Hay que crear el XML de almacen -->

    <menuitem name="Empleados" id="empleados_menu" parent="upobebe_empleado_menu" groups="group_tienda_manager" action="empleado_list_action"/>
    <menuitem name="Cargo de empleados" id="cargo_menu" parent="upobebe_empleado_menu" groups="group_tienda_manager" action="cargo_list_action" />

  </data>
</odoo>